/*---------------------------------------------------------*/
/* BASIS */
/*---------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #e6e6e6;
    color: black;
}

/*---------------------------------------------------------*/
/* NAVIGATION BAR. */
/*---------------------------------------------------------*/
.nav-container {
    padding: 1px;
    position: relative;
    z-index: 10;
    display: flex;
}

.nav-list {
    right: 0;
    list-style: none;
    padding: 5px 10px;
    overflow: hidden;
    background-color: transparent;
    display: block;
    position: absolute;
}
.nav-item {
    float: right;
}
.nav-link {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    color: whitesmoke;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
}
.nav-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.3) 50%,transparent);
}
.nav-logo {
    float: left;
    width: 160px;
    height: auto;
    position: absolute;
}

/* @media screen and (max-width: 500px){
    .nav-container {
        height: 60px;
    }
}
@media screen and (max-width: 500px){
    .nav-container .nav-item {
        height: 100px;
    }
} */

/*---------------------------------------------------------*/
/* BACKGROUND. */
/*---------------------------------------------------------*/

.main-container {
    padding: 1px;
    background-color:transparent; 
    display: flex;
    flex-flow: nowrap;
    flex-direction: column;
}
.flex {
    flex: 1;
}

.seperator {
    top: 0;
    left: 0;
    height: 350px;
    background-color:transparent;
    color: black;
    position: relative;
}

/* background image */
.banner-container {             
/*     width: 100%;
    height: 80%; */
    position: relative;
    display: inline-block;

    padding: 1px;
    background-color: transparent;
}

@media (min-width: 500px){
    .banner-container {
        min-height: 390px;
    }
}

.banner-wrapper {               /* grouper of images */
    width: 100%;

    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    padding: 1 px;
    display: block;
    position: absolute;
    background-color: blue;
}

.banner-item {                  /* idividual images */
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 3;
    animation: slideshow 12s linear 0s infinite;
  }

    .banner-item:nth-child(2) {     /* slideshow */
        z-index: 2;
        animation-delay: 4s;
    }
  
    .banner-item:nth-child(3) {
        z-index: 1;
        animation-delay: 8s;
     }
    .banner-item:nth-child(4) {
        z-index: 1; 
        animation-delay: 12s;
    }
  
    @keyframes slideshow {
        25% { opacity: 1;}
        33.33% { opacity: 0;} 
        91.66% { opacity: 0;}
        100% { opacity: 1;}
    }


/* ------------- */
/* inside banner */
/* ------------- */

 .caption-wrapper {
     width: 100%;
    color: whitesmoke;
    background-color: transparent;
    text-align: center;
    z-index: 6;
    align-items: center;
    justify-content: center;
    min-block-size: 150px;

    position: absolute;
    font-size: 25px;
    font-weight: 600px;
    bottom: 25%;
}

/* .caption {
    display: block;
    position: absolute;
    font-size: 25px;
    font-weight: 600px;
    bottom: 25%;
} */

/*---------------------------------------------------------*/
/* START CONTENT. */
/*---------------------------------------------------------*/

/* ------------ */
/* FILTER LINKS */
/* ------------ */


.filter-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    width: 100%;
    height:auto;
    overflow: hidden;
    background: white;
    border-bottom:1px solid #E4D7D7;
  }
  
  .filter-links li {
    display: inline;
    float: left;
  }
  
  .filter-links li a {
    display: block;
    color: black;
    padding: 1em 2em;
    text-decoration: none;
  }
  
  .filter-links li a:hover {
    color: red;
  }
  
  .filter-sections {
    width: 100%;
    display: block;
    overflow: hidden;
  }
  
  .filter-sections sections {
    opacity: 0;
    display: none;
    min-height: 50px;
    margin: 0.5em;
    text-align: center;
    padding: 2em 1em;
    float: left;
    transition: all 500s ease;
  }
  
/*   .view {
    display: block !important;
    opacity: 1 !important;
    transform: scale(1) rotate(0deg);
    border-radius:4px;
    animation: selected 300ms 1 ease-in-out;
  } */
  
  @keyframes selected {
    0% {
      border-radius:100%;
      transform: scale(0) rotate(-180deg);
    }
  }
  
  .eu {
    background:green;
    color:white;
  }
  .us {
    background: black;
    color:white;
  }

/* ------------ */
/* DB CONTAINER */
/* ------------ */

.destination-container {
    padding: 5px;
}

.destination-wrapper {
    position: relative;
    margin: 10px;
    padding: 1px;
    color: bisque;
    display: inline-block;
}
.destination {
    padding: 1px;
    z-index: 10;
    display: flex;
    position: relative;
    align-items: center;

    background-color: #37ccb4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 33,33333%;
}
  
.destination-link a {
    text-decoration: none;
    text-transform: uppercase;
    z-index: 1;
    bottom: 0;
    left: 0;
    padding: 25px 30px;
}

.destination-img {
    padding: 1px;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    background-color: transparent;
}

/* caption within the image */
.destination-caption-wrapper {
    bottom: 0;
    padding: 15px;
    min-block-size: 150px;
    margin: 10px;
    color: white;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    text-align: left;
    display: block;
    z-index: 10;
}

/* ------------ */
/* EXPERTS CONTAINER */
/* ------------ */

.expert-container {
    height: 200px;
    background-color: #37ccb4;
    display: flex;
    flex-direction: column;
}

.expert-wrapper {
    min-block-size: 30px;
    text-align: center;
    position: relative;
    margin: 10px;
    padding: 1px;
    color: bisque;
    display: inline-block;
    flex: 1;
}

.expert-profile {
    border-radius: 50%;
    width: 50px;
    padding: 1px;
    margin: 0 auto;
    text-align: center;
    list-style: none;
}
a {
    color: white;
    text-decoration: none;
}

/*---------------------------------------------------------*/
/* FOOTER. */
/*---------------------------------------------------------*/




